<b> flux conditionnel avec if </b>
<u> exemple / </u>
ecrire un code python

In [55]:
nombre=int(input('entrer un nombre'))
if nombre>0: 
        print(nombre,'est positif')
elif nombre<0:
        print(nombre,'est negatif')
else:
        print(nombre,'est nulle')

5 est positif

<b>les listes</b>

In [56]:
noms=[] #liste vide

In [57]:
type(noms) #type du variable

list

In [58]:
len(noms) #taille du variable

0

In [69]:
noms=['ali','nermin','ahmed']

In [60]:
len(noms)

3

In [61]:
noms.append(10) #ajouter une valeur

In [62]:
noms.append([1,2])

In [63]:
len(noms)

5

In [64]:
noms

['ali', 'nermin', 'ahmed', 10, [1, 2]]

In [65]:
x=10

In [66]:
x

10

In [67]:
del x #effacer une variable

In [68]:
x

NameError: name 'x' is not defined

In [ ]:
del noms[0]#effacer 1er element dans une liste par position

In [ ]:
noms[-1] #afficher le derner ellement dans la liste

[1, 2]

In [ ]:
noms

['nermin', 'ahmed', 10, [1, 2], [1, 2]]

In [ ]:
del noms[-1] #effacer dernier element dans une liste par position

In [ ]:
noms

['nermin', 'ahmed', 10, [1, 2]]

<B>indexation

In [ ]:
noms[2] #element d'indice 2

10

In [ ]:
noms[10] # 10 est out of range

IndexError: list index out of range

<b> slicing

In [ ]:
noms[0:3] #recuperer sous liste composé des trois premiers element

['nermin', 'ahmed', 10]

In [ ]:
 noms[1:3] #recuperer les trois derniers element

['ahmed', 10]

In [ ]:
noms[:2] #recuperer les premier element

['nermin', 'ahmed']

In [ ]:
noms[2:] #recuperer les dernier element

[10, [1, 2]]

In [ ]:
#sous liste composé de 2eme et 3eme element 
noms[-3:3]

['ahmed', 10]

In [ ]:
noms[1:-1]

['ahmed', 10]

<b> slicing pas negatif

In [ ]:
noms[3:1] #il faut ajouter un pas

[]

In [ ]:
noms[3:1:1] #reelement python avance de guauche vers deroite de pas egal a 1

[]

In [ ]:
noms[3:1:-1]

[[1, 2], 10]

In [ ]:
#nverser une liste 
noms[::-1]

[[1, 2], 10, 'ahmed', 'nermin']

In [ ]:
noms[::]

['nermin', 'ahmed', 10, [1, 2]]

In [ ]:
noms.reverse #mise a jour de la liste

In [ ]:
noms

['nermin', 'ahmed', 10, [1, 2]]

In [ ]:
noms1=noms.copy()
noms1

['nermin', 'ahmed', 10, [1, 2]]

In [ ]:
noms==noms1 #comparaison :test de continue

True

In [ ]:
noms is noms1 #test de lidentité de la case memoire

False

In [72]:
noms.extend(['A','B'])

In [73]:
noms

['ali', 'nermin', 'ahmed', 'A', 'B', 'A', 'B']

In [74]:
noms.append(['A','B'])
noms

['ali', 'nermin', 'ahmed', 'A', 'B', 'A', 'B', ['A', 'B']]

<b> boucle for

In [75]:
noms=['sonia','rahma','salah']

In [76]:
print(noms[0])
print(noms[1])
print(noms[2])

sonia
rahma
salah

boucle for manuelle

In [79]:
nom=noms[0]
print(nom)
nom=noms[1]
print(nom)
nom=noms[2]
print(nom)

sonia
rahma
salah

In [80]:
for nom in noms:
        print (nom)

sonia
rahma
salah

In [82]:
for nom in noms:
        nom= nom.upper() #j'affecte la modiffication sur une copie

In [84]:
i=0
print(noms[i]) #dans la liste 
i=1
print(nom[i]) #dans le nom
i=2
print(nom[i])

sonia
A
L

In [86]:
for i in [0,1,2 ]:
         print(noms[i])

sonia
rahma
salah

<b> Generateur de sequence

In [90]:
 #generer une sequence des entiers qui commence par 1 
#qui incremente par 2 et elle s'arrete a 10-1
#sequence :1 3 5 7 9
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [91]:
list(range(0,3,1))

[0, 1, 2]

In [92]:
list(range(0,3))

[0, 1, 2]

In [93]:
list(range(3))

[0, 1, 2]

In [94]:
list(range(len(noms)))

[0, 1, 2]

<B>la forme du for

In [98]:
for i in range(len(noms)):
         print(noms[i])

sonia
rahma
salah

In [102]:
for i in range(len(noms)):
    noms[i]=noms[i].upper()

In [105]:
noms

['SONIA', 'RAHMA', 'SALAH']

In [128]:
articles=['tv','microondes','refregerateur']
prix=['1200','500','1800']
quantités=['5','10','8']
choix= (input ('donner l"article souhaité')) 
se_trouve= False
for i in range(len(articles)):
    if choix==articles[i]:
        se_trouve =True
        break
if se_trouve :
    print('article',articles[i])
    print('prix',prix[i])
    print('quantité',quantités[i])
else :
    print('n"existe pas')

n"existe pas

In [ ]:
nombre=int(input('entrer un nombre'))
if nombre>0: 
        print(nombre,'est positif')
elif nombre<0:
        print(nombre,'est negatif')
else:
        print(nombre,'est nulle')